<<<<<<< HEAD
/* No top padding for the logo in the Main Menu */
.navbar-brand {
  padding-top: 0;  
}
/* Styling the Main Menu */
.navbar {
 background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
 border: 1px solid rgba(0, 0, 0, 0.6);
 text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
 border-radius: 0;
 font-size: 16px;
}
.navbar-default .navbar-nav > li > a {
    color: #c8c8c8;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: #dfefff;
}
/* resize logo - mobile */
@media (max-width: 200px) {
  .navbar-brand{
    width:100%;
    padding-top: 7px;
  }
}


/* footer style */
footer {
  background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
 border: 1px solid rgba(0, 0, 0, 0.6);
 text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
 border-radius: 0;
 font-size: 12px;
  color: #fff;
  /* center vertically */
  height: 50px;
  line-height: 50px;
   
}

footer p {
  /* No white space after footer*/
  margin:-1px;
}

/* main menu dont overlap the slider */
#myCarousel {
  padding-top: 50px;
}

/* style portfolio */
#portfolio {
  padding: 30px 0;
}
#portfolio h2 {
  color: #00ACC1;
  font-size: 9rem;
}
#portfolio h4 {
  padding-bottom: 5rem;
}

.panel {
    border: 1px solid #00ACC1; 
    border-radius:0;
    transition: box-shadow 0.5s;
    width: 300px;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel-footer .btn:hover {
    border: 1px solid #00ACC1;
    background-color: #fff !important;
    color: #00ACC1;
    height: auto;
}

.panel-heading {
    color: #fff !important;
    background-color: #00ACC1 !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-footer {
    background-color: #fff !important;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.panel-footer .btn {
    margin: 5px 0;
    background-color: #00ACC1;
    color: #fff;
}

@media screen and (min-width: 720px){
h2 {
    font-size: 5rem;
}
}

/* About style */
#about {
  padding: 150px 0;
  background-color: #ECECEC;
}
.logo {
    font-size: 200px;
  color: #00ACC1;
}

#about h2 {
  color: #00ACC1;
  font-size: 9rem;
}
#about h3 {
  font-size: 4rem;
  line-height: 6rem;
}

/* Contact style */
#contact {
  padding: 150px 0;
  background-color: #ECECEC;
}
.user {
    font-size: 200px;
  color: #00ACC1;
}

#contact h2 {
  color: #00ACC1;
  font-size: 9rem;
}
#about h3 {
  font-size: 4rem;
  line-height: 6rem;
}

.icons a {
  color: #00ACC1;
  font-size: 35px;;
}
/* carousel img 100% */
#myCarousel img {
  width: 100%
}
/* more space in the footer menu */
footer a {
  margin: 0 15px;
}
/* make img in portfolio 100% */
.panel-body img {
  width: 100%
}
/* col-xs-3 */
.col-xs-3{
	margin: 10px;
}
=======
/* No top padding for the logo in the Main Menu */
.navbar-brand {
  padding-top: 0;  
}
/* Styling the Main Menu */
.navbar {
 background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
 border: 1px solid rgba(0, 0, 0, 0.6);
 text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
 border-radius: 0;
 font-size: 16px;
}
.navbar-default .navbar-nav > li > a {
    color: #c8c8c8;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: #dfefff;
}
/* resize logo - mobile */
@media (max-width: 200px) {
  .navbar-brand{
    width:100%;
    padding-top: 7px;
  }
}


/* footer style */
footer {
  background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
 border: 1px solid rgba(0, 0, 0, 0.6);
 text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
 border-radius: 0;
 font-size: 12px;
  color: #fff;
  /* center vertically */
  height: 50px;
  line-height: 50px;
   
}

footer p {
  /* No white space after footer*/
  margin:-1px;
}

/* main menu dont overlap the slider */
#myCarousel {
  padding-top: 50px;
}

/* style portfolio */
#portfolio {
  padding: 30px 0;
}
#portfolio h2 {
  color: #00ACC1;
  font-size: 9rem;
}
#portfolio h4 {
  padding-bottom: 5rem;
}

.panel {
    border: 1px solid #00ACC1; 
    border-radius:0;
    transition: box-shadow 0.5s;
    width: 300px;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel-footer .btn:hover {
    border: 1px solid #00ACC1;
    background-color: #fff !important;
    color: #00ACC1;
    height: auto;
}

.panel-heading {
    color: #fff !important;
    background-color: #00ACC1 !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-footer {
    background-color: #fff !important;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.panel-footer .btn {
    margin: 5px 0;
    background-color: #00ACC1;
    color: #fff;
}

@media screen and (min-width: 720px){
h2 {
    font-size: 5rem;
}
}

/* About style */
#about {
  padding: 150px 0;
  background-color: #ECECEC;
}
.logo {
    font-size: 200px;
  color: #00ACC1;
}

#about h2 {
  color: #00ACC1;
  font-size: 9rem;
}
#about h3 {
  font-size: 4rem;
  line-height: 6rem;
}

/* Contact style */
#contact {
  padding: 150px 0;
  background-color: #ECECEC;
}
.user {
    font-size: 200px;
  color: #00ACC1;
}

#contact h2 {
  color: #00ACC1;
  font-size: 9rem;
}
#about h3 {
  font-size: 4rem;
  line-height: 6rem;
}

.icons a {
  color: #00ACC1;
  font-size: 35px;;
}
/* carousel img 100% */
#myCarousel img {
  width: 100%
}
/* more space in the footer menu */
footer a {
  margin: 0 15px;
}
/* make img in portfolio 100% */
.panel-body img {
  width: 100%;
}
.order-table{
	width: 100%;
}
/* col-xs-3 */
.col-xs-3{
	margin: 10px;
}
>>>>>>> refs/remotes/origin/master
